* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 34px;
  font-weight: 700;
  color: blue;
}

body{
  background-color: #000;
}

main {
  width: 500px;
  margin: auto;
  background-color: #fff;
}

